// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// GLOBAL

h4 {
    @media (max-width: 768px) {
        font-size: 20px;
    }
    
}
h3 {
    @media (max-width: 768px) {
        font-size: 26px;
    }
    
}

.entry-header {
    @media (max-width: 768px) {
        padding: 0;
    }
    
}

.home {
    #page-wrapper {
        padding: 0;
    }
}

#wprmenu_bar {
    padding: 12px 16px !important;
}

#wprmenu_menu.wprmenu_levels ul li a {
   font-family: $font-family-sans-serif;
   text-transform: uppercase;
   font-size: 17px;
}

.bar_logo {
    float: right;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.properpadding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.content-area {
    img {
        max-width: 100%;
        height: auto;
    }
}

.hide-mobile {
    @media (max-width: 768px) {
        display: none;
    }
}

.hide-desktop {
    @media (min-width: 769px) {
        display: none;
    }
}

.white {
    color:#fff;
}

.gray {
    color: $gray-base;
}

.page-header {
    padding-bottom: 13px;
    margin: 56px 0 28px;
    border-bottom: none;
}

.callout-wrapper {
    @media (max-width: 768px) {
        padding: 0;
    }
}

// NO SEARCH RESULT

.search-no-results {
    header {
        margin: 0;
        padding: 0;
    }
    h2 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    .page-content {
        margin-bottom: 150px;
    }
}

#wrapper-footer {
    background: $brand-primary;
    text-align: center;
    * {
    color: #fff;
    }
}

// nav

#main-menu {
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    li {
        &:nth-last-child(1) {
            margin-left: 30px;
        }
        @media (min-width: 1024px) and (max-width: 1198px) {
            font-size: 17px;
        }
    }
}

#menu-footer-menu {
    margin-top: 5px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    li {
        list-style: none;
        display: inline-block;
        @media (max-width: 768px) {
            font-size: 15px;
        }
    }
}

.navbar-brand {
    img {
        margin-top: -34px;
    }
}

.navbar-collapse {
    padding-right: 0px;
}



.entry-content {
    p {
        font-size: 22px;
        font-family: $font-family-serif;
        @media (max-width: 768px) {
            padding: 0 30px;
        }
    }
}

p {
   font-family: $font-family-serif; 
}

.ident-wrapper {
    height: 320px;
    padding-top: 53px;
    background: $gray-lighter;
    border-bottom: 2px solid $gray-base;
    .container {
        @media (max-width: 768px) {
            overflow-y: hidden;
        }
    }
    @media (max-width: 768px) {
        padding-top: 30px;
        height: 210px;
        .brand-ident {
            width: 750px;
            height: 160px;
            overflow-y: hidden;
            .ident {
                height: 140px;
                width: 170px !important;
                display: inline-block;
                span {
                    font-size: 11px;
                    top: 110px;
                }
            }
        }
    }
}

.ident {
    text-align: center;
    height: 230px;
    img {
        max-height: 100px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        display: block;
    }
    span {
        display: block;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        font-size: 18px;
    }
    &:nth-child(1) {
        img {
            max-height: 116px;
        }
    }
}

.hostess-container {
    @media (max-width: 768px) {
        overflow-y: hidden;
        .hostess-loop {
            height: 200px;
            width: 10000px;
            padding-left: 0;
            .hostess {
                width: 200px;
                display: inline-block;
                margin-right: 25px;
            }
        }
    }
}

.hostess-loop {
    .hostess {
        text-align: center;
        height: 200px;
        margin-bottom: 25px;
        overflow: hidden;
        @media (max-width: 768px) {
            padding: 0;
            margin-bottom: 10px;
        }
        img {
            max-width: 100%;
            width: 100%;
        }
    }
}
a.hover {
.overlay {
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,166,236,0.6);
    opacity: 0;
    z-index: 4;
    @media (max-width: 768px) {
        margin-left: 0;
    }
    .nev {
        color:#fff;
        position: absolute;
        left: 0;
        right: 0;
        &:after {
            content:'adatlapja ‣';
            display: block;
            font-family: $font-family-serif;
            font-size: 14px;
        }
    }
    }
    &:hover > .overlay {
        opacity: 1;
    }
    &:hover + .fixed-overlay {
        opacity: 0;
    }
}

.fixed-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0 0 5px 10px;
    color: #fff;
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/BLkQpe-i5LN.png) bottom left repeat-x;
    background-size: 1px;
    .info {
        position: relative;
        display: block;
    }
    .info-nev {
        @media (max-width:768px) {
            margin-bottom: -3px;
        }
    }
    .info-inline {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        @media (max-width: 768px) {
            font-size: 17px;
        }
    }
}

.info-inline {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        @media (max-width: 768px) {
            font-size: 17px;
        }
}

.transition {
    transition: 0.3s all ease-in-out;
}

.footer-callout {
    padding: 0 30px;
    @media (max-width: 768px) {
        padding: 0;
    }
    img {
        max-width: 100%;
    }
}

.entry-title {
    text-transform: uppercase;
    margin-left: -2px; // fix first letter spacing
    @media (max-width: 768px) {
        font-size: 30px;
        text-align: center;
    }
}

.entry-content {
    p {
        line-height: $line-height-computed;
            @media (max-width: 768px) {
            font-size: 16px;
            text-align: center;
        }
    }
}

.clear {
    clear: both;
}

.spacer {
    margin-bottom: 30px;
}

.notop {
    padding-top: 0 !important;
    margin-bottom: 142px;
}

.nyelvek {
    height: auto;
    margin-bottom:35px;
}

// SERVICES

.services-loop {
    .service-box {
        h4 {
            text-transform: uppercase;
            margin-bottom: 0px;
        }
        ul {
            padding-left: 20px;
            li {
                font-family: $font-family-serif;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }
}

.site-info {
    text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 8px;
    }
}

.home-header {
    max-height: 600px;
    overflow: hidden;
    padding: 0;
    img {
        height: 100%;
        width: auto;
    }
}

// TEAM PAGE

.team-container {
    text-transform: uppercase;
    .team-info {
            padding-left: 10px;
        }
    @media (max-width: 768px) {
        padding: 0;
        margin: 0;
        .container {
            padding: 0;
            margin: 0;
        }
        .team-info {
            padding-left: 10px;
        }
    }
    .container {
        padding-left: 0px;
        margin-left: 0px;
    }
    .titulus {
        margin-bottom:15px !important;
        @media (max-width: 768px) {
            font-size: 11px;
            padding-top: 3px;
            margin-bottom: 0 !important;
        }
    }
    .email {
        @media (max-width: 768px) {
                margin-top: -25px;
        }
    }
    span {
        font-size: 14px;
        @media (max-width: 768px) {
                font-size: 9px;
                margin-top: 5px;
                display: block;
        }
    }
    * {
        color: $gray-base;
    }
}
.team-img {
    padding: 0;
    margin: 0;
    img {
        max-width: 100%;
        height: auto;
    }
}

.contact-wrapper {
    @media (max-width: 768px) {
        padding: 0;
    }
    .col-md-12 {
        @media (max-width: 768px) {
            padding:0;
        }
    }
    h3 {
        margin-top: 0;
        padding-top: 0;
        color: $gray-base;
    }
}

.contact-details {
    text-transform: uppercase;
     @media (max-width: 768px) {
        margin-top: 15px;
        padding: 0;
    }
}

// SINGLE HOSTESS PAGE
.hostess-details {
    text-transform: uppercase;
    margin-bottom: 15px;
    &.hide-mobile {
        padding-left: 30px;
    }
    .info {
        font-size: 16px;
    }
}

.profile-img-container {
    overflow: hidden;
    height: auto;
    margin-bottom: 15px;
}


// CUSTOM FORM

.usp-pro-form {
    margin-top: 50px;
}

.form-control {
    height: 31px;
    padding: 6px 6px !important;
    margin: 12px 0;
}

.question {
    padding: 15px 0 10px 0;
}

.right {
    text-align: right;
    padding-right: 85px;
    @media (max-width: 768px) {
        text-align: center;
        padding: 0;
    }
    
}

.usp-form {
    .col-md-6 {
        padding-left: 0;
        @media (max-width: 768px) {
            padding-left: 15px;
            .col-md-6, .col-md-12, .col-md-4 {
                padding-left: 0px;
            }
        }
    }
    .col-md-12 {
        padding-left: 0;
        @media (max-width: 768px) {
            padding-left: 15px;
            .col-md-6, .col-md-12, .col-md-4 {
                padding-left: 0px;
            }
        }
    }
}

.usp-fieldset {
    label {
        height: 31px;
        line-height: 31px;
        padding-left: 0;
    }
    input {
        margin-top: 0px;
    }
}

#usp-form-18 {
    fieldset {
       @media (max-width: 768px) {
            label[for="usp-email"] {
                    display: none;
                } 
            label[for="usp-custom-4"]  {
                    display: none;
            }
            label[for="usp-custom-4"]  {
                    display: none;
            }
            label[for="usp-custom-1"]  {
                    display: none;
            }
            label[for="usp-custom-2"]  {
                    display: none;
            }
            label[for="usp-custom-3"]  {
                    display: none;
            }
        }
    }
}

.usp-radio {
    label {
        position: relative;
        padding-left: 33px;
        cursor: pointer;
        margin: 0 20px 5px 0px;
        &:before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            border: 5px solid $brand-primary;
            position: absolute;
            left: 0;
            top: 1px;
            @include transition(all ease-in-out .1s);
        }
    }
    input {
        &[type=radio] {
            display: none;
            &:checked {
                + label {
                    &:before {
                        content: "";
                        border: 12.5px solid $brand-primary;
                        background: $brand-primary;
                        @include transition(all ease-in-out .1s);
                    }
                }
            }
        }
    }
}

.usp-checkboxes {
    .col-md-4 {
        padding: 0 5px;
    }
    label {
        position: relative;
        padding-left: 0;
        width: 146px;
        cursor: pointer;
        &:before {
            content: "";
            display: inline-block;
            width: 35px;
            height: 25px;
            background: $brand-primary;
            position: absolute;
            right: 0;
            top: 1px;
            @include transition(all ease-in-out .1s);
        }
    }
    input {
        &[type=checkbox] {
            display: none;
            &:checked {
                + label {
                    color: $brand-primary;
                    &:before {
                        content: "";
                        color: #fff;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        padding: 3px 7px;
                        background: $brand-primary;
                        @include transition(all ease-in-out .1s);
                    }
                }
            }
        }
    }
}

.usp-files {
    input {
        &[type="file"] {
            position: fixed;
            top: -1000px;
        }
    }
    .tallozas {
        padding: 18px 25px;
        background: $brand-primary;
        display: inline-block;
        height: 65px;
        color: #fff;
        cursor: pointer;
        margin-right: 40px;
        &:nth-child(1) {
            .upload-img {
                background: url('../img/portre.jpg');
                &:before {
                    content: '1. Portré kép';
                }
            }
        }
        &:nth-child(2) {
            .upload-img {
                background: url('../img/teljesalak.jpg');
                &:before {
                    content: '2. Teljes alakos kép';
                }
            }
            @media (max-width: 768px) {
                margin-top: 200px;
            }
        }
        .upload-img {
            position: absolute;
            margin-top: -152px;
            margin-left: -25px;
            width: 120px;
            height: 120px;
            &:before {
                font-family: $font-family-serif;
                font-size: 18px;
                text-transform: none;
                color: $gray-base;
                position: absolute;
                margin-top: -40px;
                width: 220px;
            }
        }
        .browsed {
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,166,236,0.8);
                position: absolute;
                color: #fff;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 70px;
                text-rendering: auto;
                padding: 25px;
            }
        }
        &:hover {
            background: lighten($brand-primary,10%);
            + .upload-img {
                
            }
        }
        &:active {
            background: lighten($brand-primary,10%);
        }
        &:invalid {
            background: darken($brand-primary,10%);
        }
        &:valid {
            background: darken($brand-primary,10%);
            + .upload-img {
                background: $brand-primary;
            }
        }
    }
}

.usp-add-another {
    display: none;
}

.jelentkezes-kuldes {
    background: $brand-primary;
    height: 210px;
    @media (max-width: 768px) {
        margin-left: -15px;
        margin-right: -15px;
    }
    .usp-checkboxes {
        input {
            &:checked {
                + label {
                    color: #fff !important;
                    &:before {
                        color: $brand-primary !important;
                        background: #fff !important;
                    }
                }
            }
        }
        label {
            width: 510px;
            padding-left: 85px;
            padding-top: 20px;
            font-family: $font-family-serif;
            text-transform: none;
            color: #fff;
            @media (max-width: 768px) {
                font-size: 15px !important;
            }
            &:before {
                left: 25px;
                top: 34px;
                background: #fff;
                color: $brand-primary;
            }
        }
    }
    fieldset {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 235px;
        height: 65px;
        input {
            &[type="submit"] {
                width: 100%;
                height: 100%;
                background: #fff;
                color: $brand-primary;
            }
        }
    }
}


.magamrol {
    textarea {
        margin: 0px;
        min-width: 100%;
        min-height: 125px;
        border: none;
        padding: 6px;
        background: $brand-primary;
        @include placeholder;
    }
}

// kereses
#uwpqsf_id {
    border: none !important;
}

#uwpqsffrom_104 {
    padding: 10px 10px 10px 0px;
    .togglecheck {
        width: 100px;
        display: inline-block;
        vertical-align: middle;
        span {
            display: none;
        }
        .col-md-4 {
            padding: 0 5px;
        }
        label {
            position: relative;
            padding-left: 0;
            width: 146px;
            cursor: pointer;
            // &:before {
            //    content: "";
            //    display: inline-block;
            //    width: 35px;
            //    height: 25px;
            //    background: $brand-primary;
            //    position: absolute;
            //    right: 0;
            //    top: 1px;
            //    @include transition(all ease-in-out .1s);
            // }
        }
        input {
            &[type=checkbox] {
                display: none;
                &:checked {
                    + label {
                        color: $brand-primary;
                       // &:before {
                        //    content: "";
                        //    color: #fff;
                        //    display: inline-block;
                        //    font: normal normal normal 14px/1 FontAwesome;
                        //    font-size: inherit;
                        //    text-rendering: auto;
                        //    padding: 3px 7px;
                        //    background: $brand-primary;
                        //    @include transition(all ease-in-out .1s);
                        // }
                    }
                }
            }
        }
    }
}

// jogositvany

#cmf-check-4 {
        width: 200px !important;
        display: inline-block;
        margin-left: 40px;
        @media (max-width: 768px) {
            margin-left: 0;
        }
        span {
            display: none;
        }
        .col-md-4 {
            padding: 0 5px;
        }
        label {
            position: relative;
            padding-left: 0;
            width: 200px !important;
            cursor: pointer;
             &:before {
                content: "";
                display: inline-block;
                width: 35px;
                height: 25px;
                background: $brand-primary;
                position: absolute;
                right: 0;
                top: 1px;
                @include transition(all ease-in-out .1s);
             }
        }
        input {
            &[type=checkbox] {
                display: none;
                &:checked {
                    + label {
                        color: $brand-primary;
                        &:before {
                            content: "";
                            color: #fff;
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            padding: 3px 7px;
                            background: $brand-primary;
                            @include transition(all ease-in-out .1s);
                         }
                    }
                }
            }
        }
    }

// dropdown 

.custom-dropdown {
    width: 60px;
    span {
        display: none;
    }
    select {
        font-size: inherit; /* inherit size from .custom-dropdown */
        margin: 0; /* remove default margins */
        background-color: $brand-primary;
        color: #fff;
        width: 50px;
        padding: 2px 5px !important;
    }
}


@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
        select {
            padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none; 
        }
        /* &:before {
            content: "";
		position: absolute;
		pointer-events: none;
            width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
            background-color: #fff;
		border-left: 1px solid rgba(0,0,0,.1);
        }
        &:after {
            content: "";
		position: absolute;
		pointer-events: none;
            content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; margin-top: -.5em;
            color: rgba(0,0,0,.9);
        }
        */
	}


	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}

// CUSTOM kereso mezok

#cmf-select0 {
    width: 110px;
    &:before {
        content: 'KOR';
        display: inline-block;
        padding-right: 10px;
    }
}

#cmf-select2 {
    width: 185px;
    margin-left: 40px;
    @media (max-width: 768px) {
         margin-left: 0;
    }
    &:before {
        content: 'MAGASSÁG';
        display: inline-block;
        padding-right: 10px;
    }
}

.uform_title {
    display: inline-block;
    margin-right: 82px;
    color: $brand-primary;
    @media (max-width: 768px) {
         display: none;
    }
}

#uwpqsf_id_btn {
    background: $brand-primary;
    border: none;
    color: #fff;
    padding: 5px 7px;
    @media (max-width: 768px) {
        background: #FFFFFF;
        border: none;
        color: $brand-primary;
        padding: 5px 7px;
    }
}

.nyelvvalaszto {
        width: 50%;
        display: inline-block;
        @media (max-width: 768px) {
             width: 100%;
        }
     &:before {
        content: 'NYELVEK';
        display: inline-block;
        margin-right: 60px;
    }
}

.uwpqsf_submit {
    text-align: right;
    margin-bottom: 15px;
    width: 50%;
    display: inline-block;
    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        }
    input {
        padding: 5px 20px;
        height: 65px;
        text-transform: uppercase;
    }
}


// arajanlat

.post-29 {
    .usp-pro-form {
        margin-top: 0;
    }
}

#usp-form-5 {
    @media (max-width: 768px) {
        label {
            display: none;
        }
        input[name=usp-custom-rendezveny] {
            margin-top:30px;
        }
    }
 
}

.ajanlat-submit {
    height: 110px;
    padding: 35px 20px;
    background: $brand-primary;
    @media (max-width: 768px) {
        margin-top: 35px;
        margin-left: -15px;
        margin-right: -15px;
    }
    fieldset {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 235px;
        height: 65px;
        @media (max-width: 768px) {
            left: 50%;
            margin-left: -130px;
        }
        input {
            &[type="submit"] {
                width: 100%;
                height: 100%;
                background: #fff;
                color: $brand-primary;
            }
        }
    }
}

// szolgaltatasok 

.post-27 {
    @media (max-width: 768px) {
        .entry-content {
            p {
                text-align: left;
                line-height: 19px;
                padding: 0;
            }
        }
    }
}

// pre form

.preform-container {
    @media (max-width: 784px) {
        width: 100%;
        position: absolute;
        padding: 0;
        margin: 0;
    }
    .col-md-12 {
        @media (max-width: 784px) {
            padding: 0;
            margin: 0;
        }
    }
    #pre-form {
        position: absolute;
        right: 0;
        top: -110px;
        padding: 15px;
        background: #fff;
        @media (max-width: 784px) {
            margin-left: -15px;
            top: -200px;
            background: $brand-primary;
            height: 200px;
            width: 100%;
        }
        .preform-title {
            @media (max-width: 784px) {
                position: relative;
                top: 0;
                text-align: center;
            }
            position: absolute;
            top: -46px;
            color: #fff;
        }
        form {
            @media (max-width: 784px) {
                text-align: center;
                width: 200px;
                margin: 0 auto;
            }
            input, select {
                text-align: center;
                @media (max-width: 784px) {
                    margin-bottom: 10px;
                }
                border: none;
                text-transform: uppercase;
                &:focus {
                    outline-color: transparent;
                    outline-style: none;
                }
            }
            .custom-dropdown {
                width: 190px;
                vertical-align: inherit;
                background: #fff;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAANUlEQVQImWNkWPbmPwMRgImBgYGRCHWMTDAGPkUMDAwMTP8jhVEEsCmCWc2AQzGc/T9SmAEAt5cG5ETiApwAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-position: right;
                padding-right: 15px;
                cursor: pointer; 
                @media (max-width: 784px) {
                    display: block;
                    width: 100%;
                    background-position: 96%;
                    margin-bottom: 10px;
                }
                select {
                    background: transparent;
                    color: $brand-primary;
                    cursor: pointer;
                }
            }
            #szam {
                margin-left: 24px;
                margin-right: 14px;
                width: 40px;
                @media (max-width: 784px) {   
                    margin-left: 0;
                    margin-right: 62px;
                }
            }
            #datum {
                width: 125px;
                @media (max-width: 784px) {
                    width:100%;
                }
            }
            #nemek {
                width: 184px;
                @media (max-width: 784px) {
                    margin: 0;
                }
            }
            #submit {
                background: #fff;
                border: none;
                color: $brand-primary;
                @media (max-width: 784px) {
                    margin-right: -1px;
                    color: #fff;
                    background: $brand-primary;
                }
            }
        }
    }
}